.creature_description, .comment_block, .short_info {
    /* background-color:  #BC987E;
    color: #FFE4C4; */
}

section {
    width: 1000px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 1px 8px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 8px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 8px 4px rgba(34, 60, 80, 0.2);
}

.picture img {
    width: 400px;
}

.name {
    font-size: 30pt;
}

.info_block {
    display: flex;
    justify-content: space-between;
}

.download_icon {
    background-color: white;
    padding: 1px;
    border-radius: 30%;
    
}

.back_button {
    width: 100px;
    height: 35px;
}

.back_button p {
    font-size: 17pt;
    color: black;
    text-align: center;
    margin: 5px;
    padding: 5px;
    margin-bottom: 2px;
    width: 130px;
}

.back_button:hover p {
    border-bottom: solid black 3px;
    border-radius: 10%;
    transition: 0.1s;
}

.download_icon img{
    max-width: 30px;
    height: 30px;
    background-color: white;
}

.short_info {
    height: 250px;
    border-radius: 30px;
}

.info_block div {
    width: 500px;
    margin: 20px;
}

.info_block .picture img {
    border-radius: 20px;
}

.info_block .short_info {
    width: 1000px;
}

.info_block .short_info div {
    display: flex;
    font-size: 15pt;
}

.info_block .name {
    text-align: center;
    font-size: 30pt;
}

.creature_description {
    width: 800px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 30px;
    font-size: 20pt;
    color: black;
    /* color: #63402c; */
}

.creature_description .description {
    font-size: 17pt;
    text-indent: 30px ;
}

.description {
    white-space: pre-wrap;
}

.comment_block {
    width: 60%;
    margin: 10px auto;
    padding: 30px;
    color: black;
    border-top: solid 1px black;
}

.comment_block div p {
    font-size: 16px;
    font-weight: lighter;
}

.comment_block form {
    display: block;
    button {
        width: 100px;
        height: 30px;
    }
}

.comment_block form .text {
    width: 400px;
    height: 25px;
    margin: 5px;
}

.comments {
    margin-top: 20px;
    width: 100%;
}

.comments p {
    font-size: 15pt;
}

.comments div {
    display: flex;
    border-bottom: solid 1px;
}

.comments div .user_name {
    font-weight: bold;
    margin: 10px;
    width: 60px;
    border-right: solid 1px black;
}

.comments div p {
    margin-top: 10px;
}