input {
    border-radius:solid 5px;
}

input:user-invalid {
    border-color: red;
}

h1 {
    text-align: center;
}

.general_form button {
    width: 160px;
    font-size: 17px;
    height: 30px;
}

footer {
    display: none;
}
