* {
    list-style-type: none;
}

.hudden {
    display: none;
}

p, main a {
    font-size: 17pt;
}

p {
    font-size: 20px;
    color: #FFE4C4;
}

footer p {
    color: black;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}


.users_info {
    list-style-type: none;
    margin: 0 50px ;
}

.users_info li {
    display: flex;
    justify-content: space-between;
    /* border: solid 1px black; */
    margin-top: 50px;
}

div.short_info {
    width: 250px;
    height: 300px;
    display: flex;
}

.short_info .avatar_block {
    text-align: center;
    background-color: #7E513E;
    border-radius: 5px;
}


.short_info .avatar_block img {
    width: 200px;
    height: 200px;
    margin: 25px;
    margin-bottom: 15px;
    border: solid #BE8557 3px;
    border-radius: 5px;
}


div.notice {
    width: 40px;
    height: 37px;
    background-color: #FFE4C4;
    border: #7E513E solid 3px;
    border-radius: 10px;
    justify-content: space-around;
    margin-left: 20px;
    /* overflow: scroll; */
}

.notice img {
    width: 35px;
    height: 35px;
    margin: auto;
}

.user_status .status {
    width: 650px;
    height: 100px;
    background-color: #7E513E;
    padding: 15px;
    padding-bottom: 0;
    padding-right: 30px;
    text-align: right;
    border-radius: 5px;
}

.user_status .status p {
    margin-bottom: 15px;
}

.sign_in_out {
    margin-top: 10px;
}

.sign_in_out .buttons {
    display: flex;
    justify-content: right;
}

.sign_in_out .buttons .sign_up {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #7E513E;
}

.buttons .sign_up p{
    text-align: center;
    margin-top: 10px;
}

.sign_in {
    margin: 10px;
    color: #7E513E;
    font-weight: bold;
}

.secret a {
    display: flex;
    justify-content: right;
}

.secret img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.about_me {
    width: 400px;
    min-width: 400px;
    /* min-height: 100px; */
    background-color: #7E513E;
    border-radius: 10px;
    padding: 10px;
}

.about_me p {
    padding-left: 10px;
    font-size: 20px;
}

.about_me .text {
    width: 380px;
    background-color: #7E513E;
    border: 3px solid #FFE4C4;
    min-height: 150px;
    border-radius: 10px;
    margin: 0 auto;
}

.about_me .text p {
    font-size: 15px;
    margin: 5px;
}

.cards {
    width: 660px;
    display: flex;
    justify-content: space-between;
    
}

.cards .card {
    width: 200px;
    height: 250px;
    display: block;
    background-color: #7E513E;
    border-radius: 20px;
    margin-top: 0;
    padding-top: 1px;
}

.cards .card div {
    margin: 9px;
    border-radius: 15px;
    border: dashed 2px #492F24;
    width: 180px;
    height: 230px;
}

.cards .card .card_title {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.cards .card img.card_icon {
    width: 80px;
    height: 80px;
    border: solid 2px #FFE4C4;
    border-radius: 10px;
    margin: 10px 50px;
    margin-bottom: 0;
    align-items: center;
}


.cards .card .card_text {
    width: 70%;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
}

.friends_box {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.friends_box div, .my_comments, .my_comments div {
    width: 300px;
    background-color: #7E513E;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.friends_box div p {
    font-size: 20px;
}

.friends_box div div, .my_comments div {
    background-color: #7E513E;
    border: solid 2px #FFE4C4;
    color: #FFE4C4;
    width: 90%;
    margin: 5px;
    overflow: auto;
}

.my_comments {
    width: 400px;
}

.creatures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 800px;
    margin: 0 auto;
}

li.creature {
    border: solid 1px black;
    width: 92%;
    border-radius: 10%;
    padding: 10px;
    /* background-color: #7e513e; */
    /* background-image: url('../img/leather-brown-background-1.jpg');  */

    background-image: radial-gradient(#664031, #492f24, #7e513e);
    background-repeat: repeat;
    color: bisque;
    border: solid #492f24 1px;
    transition: width 0.5s cubic-bezier(0, 0, 1, 1);
}

.creature .seam {
    padding: 10px;
    border: dashed #3f2920 2px;
    border-radius: 10%;
    height: 94%;
}

.creature .name {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
}

.creature .picture img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border: solid 2px bisque;
    object-fit:cover;
}

.creature .short_description {
    margin: 5px;
    font-size: 14pt;
    text-align: center;
}

.creature a {
    color: bisque;
    font-size: 14pt;
    text-align: right;
}

.creature a:hover {
    color: #201410;
    border-bottom: #201410 solid 2px;
    border-radius: 10%;
    transition: 0.2s;
}

.creature:hover {
    transition: 0.5s;
    box-shadow: 5px 15px 6px #492f24 ;
    transform: scale(1.04, 1.04)
}

.my_custom_creatures h2 {
    text-align: center;
    margin: 20px 0;
    color: #492f24;
}

.proposal_friend button {
    width: 200px;
    background-color: #7E513E;
    color: #FFE4C4;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
}

.proposal_friend {
    margin: 10px auto;
}

.user_block {
    width: 100%;
    padding: 0 32%;
}

.no_creatures {
    color: #7E513E;
    text-align: center;
    font-size: 25px;
}

.friends_box, .my_comments {
    li {
        margin-top: 5px;
    }
    div {
        max-height: 200px;
    }
}

.friends_request li button {
    background-color: #7E513E;
    border: none;
    cursor: pointer;
    color: #FFE4C4;
    text-decoration: underline;
}