@font-face {
    font-family: "Sweet Mavka Script";
    font-style: normal;
    src:url("../fonts/Sweet Mavka Script.otf") format("opentype");
    
}

@font-face {
    font-family: "VividSans";
    font-style: normal;
    src:url("../fonts/VividSans-Regular.ttf") format('truetype') ;
    
}

@font-face {
    font-family: "Bookerly";
    font-style: normal;
    src:url("../fonts/Bookerly.ttf") format('truetype') ;
}

@font-face {
    font-family: "FantasqueSansMono";
    font-style: normal;
    src:url("../fonts/fantasquesansmono-regular.otf") format("opentype");
}

@font-face {
    font-family: "FantasqueSansMono";
    font-style: bold;
    src:url("../fonts/fantasquesansmono-bold.otf") format("opentype");
}

@font-face {
    font-family: "MisterBrush";
    font-style: normal;
    src:url("../fonts/MisterBrush.ttf") format("truetype");
}

@font-face {
    font-family: "Fontick";
    font-style: normal;
    src:url("../fonts/fontick.otf") format("opentype");
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: black;
}

.content {
    width: 1320px;
    margin: 0 auto;
}

.content, header, footer {
    /* font-family: "Sweet Mavka Script"; */
    /* font-family: "Bookerly"; */
    /* font-family: "FantasqueSansMono"; */
    /* font-family: "MisterBrush"; */
    font-family: "Fontick";
}

/*--------------------------------*/

main {
    min-height: 550px;
}

.main_background {
    /*background: url(../img/background.png);*/
    background-attachment: fixed;
}

button {
    cursor: pointer;
}

.content  {
    ul, ol {
        list-style-type: none;
    }
}

header {
    width: 100%;
    background-color: #63402c;
    color: bisque;
    padding: 30px 0;
}

header div {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

header ul {
    list-style-type:none;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

header ul li {
    font-size: 16pt;
}

header a {
    text-decoration: none;
    color: bisque;
}

header a:hover {
    transition: 0.5s ;
    opacity: 50%;
}


footer {
    width: 100%;
    height: 100px;
    padding-top: 30px;
    width: 100%;
    color: bisque;
    background-color: #63402c;
    /* padding-bottom: 20px; */
}

footer .year {
    margin-top: 20px;
}

footer div {
    display: flex;
    justify-content: space-between;
}

footer ul{
    display: flex;
    li {
        margin-right: 5px;
    }
}

footer p {
    text-align: center;
}

.general_form {
    width: 50%;
    /* border: solid black 1px; */
    border-radius: 20px;
    margin: 30px auto;
    padding: 20px;
    background-color: #8f664a;
    color: #FFE4C4;
    

    form div {
        display: flex;
    }
}

.general_form {
    margin-top: 7%;
    width: 40%;
    height: 240px;
}

.general_form {
    p, label {
        font-size: 25px;
        text-align: center;
    }
    
    textarea, select {
        width: 400px;
        margin: 10px auto;
        padding: 5px;
    }
}

.general_form h1 {
    text-align: center;
}

.general_form input {
    width: 250px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 4px;
    background-color: #8f664a;
    color: #FFE4C4;
    border: solid #FFE4C4 2px;
    font-size: 16px;
    justify-content: center;
}

.general_form input::placeholder {
    color: #FFE4C4;
}

.general_form button {
    font-size: 15px;
    background-color: #FFE4C4;
    border: none;
    border-radius: 7px;
    margin: 10px auto;
    width: 160px;
    font-size: 17px;
    height: 30px;
}