section {
    min-height: 300px;
    -webkit-box-shadow: 0px 1px 8px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 8px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 8px 4px rgba(34, 60, 80, 0.2);
}

.about_me {
    width: 500px;
    min-width: 400px;
    /* min-height: 100px; */
    background-color: #7E513E;
    border-radius: 20px;
    padding: 10px;
}

.about_me p {
    padding-left: 10px;
    font-size: 20px;
}

.about_me .text {
    width: 480px;
    background-color: #492F24;
    border: 2px solid #FFE4C4;
    min-height: 150px;
    border-radius: 10px;
    margin: 0 auto;
}

.about_me .text p {
    font-size: 17px;
    margin: 5px;
}

p {
    font-size: 20px;
    color: #FFE4C4;
}

.short_info {
    padding: 70px 120px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.avatar_block {
    width: 250px;
    p {
        margin-bottom: 20px;
    }
}

.short_info .avatar_block {
    text-align: center;
    background-color: #7E513E;
    border-radius: 20px;
}


.short_info .avatar_block img {
    width: 200px;
    height: 200px;
    margin: 25px;
    margin-bottom: 15px;
    border: solid #FFE4C4 2px;
    background-color: white;
    border-radius: 20px;
}

.proposal_friend  {
    text-align: center;
    margin: 10px;
    button {
        background-color: #7E513E;
        color: bisque;
        width: 200px;
        height: 25px;
        margin: 0 auto;
        border-radius: 5px;
    }
    
}

.creatures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 800px;
    margin: 0 auto;
}

li.creature {
    border: solid 1px black;
    width: 92%;
    border-radius: 10%;
    padding: 10px;
    /* background-color: #7e513e; */
    /* background-image: url('../img/leather-brown-background-1.jpg');  */

    background-image: radial-gradient(#664031, #492f24, #7e513e);
    background-repeat: repeat;
    color: bisque;
    border: solid #492f24 1px;
    transition: width 0.5s cubic-bezier(0, 0, 1, 1);
}

.creature .seam {
    padding: 10px;
    border: dashed #3f2920 2px;
    border-radius: 10%;
    height: 94%;
}

.creature .name {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
}

.creature .picture img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border: solid 2px bisque;
    object-fit:cover;
}

.creature .short_description {
    margin: 5px;
    font-size: 14pt;
    text-align: center;
}

.creature a {
    color: bisque;
    font-size: 14pt;
    text-align: right;
}

.creature a:hover {
    color: #201410;
    border-bottom: #201410 solid 2px;
    border-radius: 10%;
    transition: 0.2s;
}

.creature:hover {
    transition: 0.5s;
    box-shadow: 5px 15px 6px #492f24 ;
    transform: scale(1.04, 1.04)
}